/* main colors*/

@c_ll_bue:#f3f6f9;
@c_font:#949cac;
@c_dark_grey:#48505d;
@c_m_grey:#474F5C;

@c_yellow:#f9c234;

@c_purple:#953A8C;
@c_l_blue:#24a8e6;
@c_l_grey:#cedd40; /*bg_freenode*/
@c_dd_grey:#333333;
//@c_grey:#a4afc1;
@c_grey: #9099A9;
@c_pink: #ee5499; /*bg_video*/


@bg_google_plus:#f24032;
@bg_facebook:#43609c;
@bg_youtube:#fb0014;


@c_orange:#ff743e;
@c_blue:#20b7ec;


@c_white:#fff;
@c_button_white: #fefefe;
@c_black: #48505D;


@lighten-percentage:20%;
@darken-percentage: 20%;
@lighten-percentage-dis:30%;
