body {
	font-family: Arial;
}

.nav {
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	width: 100%;
}

a.nav-item {
	color: white;
	font-size: 16px;
}
a.nav-item:hover {
	color: #60D2D5;
}
a.nav-item.is-active {
	color: #60D2D5;
	font-weight: bold;
}

.nav-center a.nav-item {
	opacity: 0.5;
}

.nav-center a.nav-item:hover {
	opacity: 1.0;
	color: white;
}

.title {
	color: white;
	font-weight: bolder;
	font-size: 48px;
}

.title-blue {
	font-weight: bolder;
	font-size: 48px;
	color: #60D2D5;
}

.subtitle a {
	border-bottom: 1px solid white;
}

.subtitle a:hover {
	font-weight: bold !important;
}

.fold-subtitle {
	margin-bottom: 300px !important;
	background-color: rgba(0,0,0,0.7);
	padding: 30px;
	box-sizing: border-box;
	pointer-events: auto;
	border-radius: 3px;
	font-weight: bold;
	border: 1px solid rgba(0,0,0,0.9);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

#demo {
	position: absolute;
	top: 0px; right: 0px; bottom: 0px; left: 0px;
	clear: none;
	opacity: 0.5;
}

.demo-section {
	pointer-events: none;
}

.demo-section-buttons {
	pointer-events: auto;
}

.subtitle.is-justified {
	width: 630px;
	margin: 0px auto;
}

.is-justified {
	text-align: justify;
	text-align-last: justify;
}

.section-title {
	margin-bottom: 50px !important;
}

.feature-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.language-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.language-title a {
	color: white;
}

.language-icon {
	width: 100px;
	margin: 0px auto;
	color: white;
	fill: white;
}

.talk-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.talk-title a {
	color: white;
}

.contribute-section {
	color: white;
}

.contribute-section .title {
	color: white !important;
}

.contribute-body {
	width: 500px;
	margin: 0px auto;
}


footer {
	background-color: white;
	color: black;
	padding: 10px;
	text-align: right;
}

/* implementations */

.implementations-section {
	padding-top: 150px;
}

.implementation-table {
	margin-bottom: 50px;
}

.implementation-table th {
	text-align: center;
	border: 1px solid rgba(0,0,0,0.3) !important;
}

.implementation-table td {
	border: 1px solid rgba(0,0,0,0.3) !important;
}

.has-text-left {
	text-align: left !important;
}

.status {
	border: 1px solid rgba(0,0,0,0.3) !important;
	color: white !important;
	text-align: center;
}

.status .text {
	display: inline;
	line-height: 16px;
	font-size: 16px;
	vertical-align: middle;
}

.status a {
	color: black;
	transition: none;
}

.status a:hover {
	text-decoration: none;
}

.status a:hover .icon {
	color: #0074D9 !important;
}

.status a:hover {
	color: #0074D9 !important;
}

.status .gh {
	display: inline;
	line-height: 16px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

.status-wip {
	background-color: #FFDC00 !important;
}

.status-done {
	background-color: #2ECC40 !important;
}

.status-missing {
	background-color: #FF4136 !important;
}

.green {
	color: #2ecc40;
}

.implementation-table .subtitle {
	font-size: 24px;
}
