<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Libp2p</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/media.css">

</head>

<body>

    <header>
        <div class="wrap">
            <a class="logo static" href="/">
                <img width="60" height="72" src="/img/logo_small.png" alt="">
                <b>lib</b>p2p</a>
            <a href='#' class='bars'><i class="fa fa-bars" aria-hidden="true"></i></a>
            <a href='#' class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
            <nav>
                <ul>
                    <li><a href="/implementations">Implementations</a></li>
                    <li><a href="/bundles">Bundles</a></li>
                    <li><a href="/media" class="active">Media</a></li>
                    <li><a href="https://github.com/libp2p" target="_blank">Github</a></li>
                    <li><a href="https://github.com/libp2p/specs" target="_blank">Specifications</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="pseudo-header"></div>
        <section class="wrap">
            <h1 class="title-page">Media.</h1>
            <div class="about-part">
                Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque.
            </div>

            <div class="wrap-videos">
                <div class="item-video">
                    <div class="video-container">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/HxueJbeMVG4" allowfullscreen></iframe>
                    </div>
                    <p>libp2p call — Q4 Roadmap</p>
                </div>

                <div class="item-video">
                    <div class="video-container">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/HxueJbeMVG4" allowfullscreen></iframe>
                    </div>
                    <p>libp2p call — Q4 Roadmap</p>
                </div>

                <div class="item-video">
                    <div class="video-container">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/HxueJbeMVG4" allowfullscreen></iframe>
                    </div>
                    <p>libp2p call — Q4 Roadmap</p>
                </div>

                <div class="item-video">
                    <div class="video-container">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/HxueJbeMVG4" allowfullscreen></iframe>
                    </div>
                    <p>libp2p call — Q4 Roadmap</p>
                </div>

                <div class="item-video">
                    <div class="video-container">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/HxueJbeMVG4" allowfullscreen></iframe>
                    </div>
                    <p>libp2p call — Q4 Roadmap</p>
                </div>

                <div class="item-video last-elment">
                    <div>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="wrap">
          <p><div class="title">libp2p was started and is sponsored by</div></p>
          <p><a href="http://protocol.ai">
            <img src="../img/protocol-labs-logo.png" height="64px">
          </a></p>
          <div class="copyright">&copy; Protocol Labs | Except as noted, content licensed CC-BY 3.0</div>
          <img class="decoration img8" width="63" height="75" src="/img/img8.png" alt="">
        </div>
    </footer>

    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</body>
</html>
