/* main colors*/
/*bg_freenode*/
/*bg_video*/
body > header .wrap nav ul li a.active {
  color: #FF753F;
}
article.bundles {
  padding-top: 127px;
  padding-bottom: 133px;
}
@media (max-width: 767px) {
  article.bundles {
    padding-top: 58px;
    padding-bottom: 52px;
  }
}
article.bundles .wrap p {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: normal;
  font-family: Roboto-Light, SansSerif;
  color: #9099A9;
  margin: 20px 0 73px 0;
}
@media (max-width: 767px) {
  article.bundles .wrap p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 33px;
  }
}
article.bundles .wrap .links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
article.bundles .wrap .links .active-link {
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  text-decoration: none;
}
article.bundles .wrap .links .active-link .copy-block {
  display: flex;
  align-items: center;
}
article.bundles .wrap .links .active-link .img {
  width: 32px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
article.bundles .wrap .links .active-link .img img {
  width: 20px;
  height: auto;
}
article.bundles .wrap .links .active-link .img img.node {
  width: 32px;
}
article.bundles .wrap .links .active-link .img img.golang {
  width: 15px;
}
article.bundles .wrap .links .active-link .img img.haskell {
  width: 25px;
}
article.bundles .wrap .links .active-link .img img.java {
  width: 16px;
}
article.bundles .wrap .links .active-link .img img.python {
  width: 18px;
}
article.bundles .wrap .links .active-link span {
  color: #31BDEE;
  font-size: 16px;
}
article.bundles .wrap .links .active-link i {
  margin-left: 5px;
  font-size: 8px;
  color: #9099A9;
}
article.bundles .wrap .links .active-link.inactive {
  pointer-events: none;
  cursor: default;
}
article.bundles .wrap .links .active-link.inactive .img {
  opacity: 0.3;
}
article.bundles .wrap .links .active-link.inactive span {
  color: #DFE5EE;
}
article.bundles .wrap .links .active-link:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  article.bundles .wrap .links .active-link {
    display: flex;
  }
}
article.bundles .wrap .links .columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
article.bundles .wrap .links .columns .column {
  border-right: 1px solid #F5F7FB;
  padding: 0 34px;
}
article.bundles .wrap .links .columns .column:last-child {
  border: none;
}
@media (max-width: 767px) {
  article.bundles .wrap .links .columns .column {
    border: none;
  }
}
article.bundles .wrap .links .columns .column .link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  text-decoration: none;
}
article.bundles .wrap .links .columns .column .link .img {
  width: 32px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
article.bundles .wrap .links .columns .column .link .img img {
  width: 20px;
  height: auto;
}
article.bundles .wrap .links .columns .column .link .img img.node {
  width: 32px;
}
article.bundles .wrap .links .columns .column .link .img img.golang {
  width: 15px;
}
article.bundles .wrap .links .columns .column .link .img img.haskell {
  width: 25px;
}
article.bundles .wrap .links .columns .column .link .img img.java {
  width: 16px;
}
article.bundles .wrap .links .columns .column .link .img img.python {
  width: 18px;
}
article.bundles .wrap .links .columns .column .link span {
  color: #31BDEE;
  font-size: 16px;
}
article.bundles .wrap .links .columns .column .link.inactive {
  pointer-events: none;
  cursor: default;
}
article.bundles .wrap .links .columns .column .link.inactive .img {
  opacity: 0.3;
}
article.bundles .wrap .links .columns .column .link.inactive span {
  color: #DFE5EE;
}
article.bundles .wrap .links .columns .column .link:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  article.bundles .wrap .links .columns {
    display: none;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 30px;
    flex-direction: column;
    z-index: 100;
    width: 100%;
    left: calc(50% - 100px);
  }
}
article.bundles-info {
  background: #F3F6F9;
  padding-top: 100px;
  padding-bottom: 170px;
}
@media (max-width: 767px) {
  article.bundles-info {
    padding-top: 55px;
    padding-bottom: 70px;
  }
}
article.bundles-info .wrap section {
  display: flex;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  article.bundles-info .wrap section {
    margin-bottom: 60px;
  }
}
article.bundles-info .wrap section:last-of-type {
  margin-bottom: 0;
}
article.bundles-info .wrap section aside {
  width: 240px;
  border: 1px solid #DFE5EE;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
article.bundles-info .wrap section aside .active-link {
  display: none;
  height: 45px;
  justify-content: center;
  align-items: center;
  color: #9099A9;
  font-size: 16px;
}
article.bundles-info .wrap section aside .active-link i {
  font-size: 8px;
  margin-left: 5px;
}
article.bundles-info .wrap section aside nav {
  display: flex;
  flex-direction: column;
}
article.bundles-info .wrap section aside nav a {
  color: #9099A9;
  max-width: 240px;
  text-decoration: none;
  padding: 0 0 0 40px;
  border-bottom: 1px solid #DFE5EE;
  font-size: 16px;
  line-height: 44px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  article.bundles-info .wrap section aside nav a {
    line-height: 35px;
  }
}
article.bundles-info .wrap section aside nav a.active,
article.bundles-info .wrap section aside nav a:hover {
  background: #E9EEF5;
}
article.bundles-info .wrap section .content {
  position: relative;
  max-width: 700px;
  min-width: 300px;
  width: 100%;
}
article.bundles-info .wrap section .content .title {
  max-width: 700px;
  min-width: 300px;
  width: 100%;
  height: 205px;
  background: white;
  border: 1px solid #DFE5EE;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1px #DFE5EE;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
article.bundles-info .wrap section .content .title .wrapper {
  width: 130px;
  height: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
article.bundles-info .wrap section .content .title .wrapper .img {
  width: 130px;
  height: 80px;
  display: flex;
  margin: 0 auto;
}
article.bundles-info .wrap section .content .title .wrapper .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
article.bundles-info .wrap section .content .info {
  max-width: 700px;
  min-width: 300px;
  width: 100%;
  height: 291px;
  background: white;
  border: 1px solid #DFE5EE;
  border-top: none;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 10px 1px #DFE5EE;
  position: relative;
  bottom: 0;
  left: 0;
}
article.bundles-info .wrap section .content .info ul {
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 15px;
  margin: 0;
}
article.bundles-info .wrap section .content .info ul.show {
  display: flex;
  overflow-x: auto;
}
article.bundles-info .wrap section .content .info ul a {
  text-decoration: none;
}
article.bundles-info .wrap section .content .info ul li {
  list-style: none;
  margin-top: 27px;
  min-width: 100px;
  max-width: 250px;
  width: 100%;
}
article.bundles-info .wrap section .content .info ul li span {
  padding-left: 6px;
  font-size: 16px;
  color: #9099A9;
}
article.bundles-info .wrap section .content .info ul.one-col {
  justify-content: center;
}
article.bundles-info .wrap section .content .info ul.one-col li:first-child {
  margin-top: 0;
}
article.bundles-info .wrap section.coming-soon {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 767px) {
  article.bundles-info .wrap section.coming-soon {
    justify-content: center;
    margin-top: 70px;
  }
}
article.bundles-info .wrap section.coming-soon .card {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
article.bundles-info .wrap section.coming-soon .card .rectangle {
  width: 300px;
  height: 150px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  border: 1px solid #DFE5EE;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 1px #DFE5EE;
  transition: 0.3s linear;
  text-decoration: none;
}
article.bundles-info .wrap section.coming-soon .card .rectangle.coming-soon,
article.bundles-info .wrap section.coming-soon .card .rectangle.empty {
  width: 300px;
  height: 150px;
  cursor: default;
  pointer-events: none;
}
article.bundles-info .wrap section.coming-soon .card .rectangle .img {
  width: 170px;
  height: 70px;
}
article.bundles-info .wrap section.coming-soon .card .rectangle .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
article.bundles-info .wrap section.coming-soon .card .rectangle div.text {
  font-family: Roboto-Light, SansSerif;
  color: #48505d;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  width: 245px;
  height: 55px;
  display: none;
  justify-content: center;
  align-items: center;
}
article.bundles-info .wrap section.coming-soon .card .rectangle.coming-soon {
  justify-content: flex-end;
}
article.bundles-info .wrap section.coming-soon .card .rectangle.coming-soon * {
  opacity: 0.3;
}
article.bundles-info .wrap section.coming-soon .card .rectangle.coming-soon div.text {
  display: flex;
  color: black;
  width: 100%;
}
article.bundles-info .wrap section.coming-soon .card .rectangle.empty {
  background: transparent;
  border: none;
  box-shadow: none;
}
@media (max-width: 1200px) {
  article.bundles-info .wrap section.coming-soon .card.empty {
    display: none;
  }
}
@media (max-width: 767px) {
  article.bundles-info .wrap {
    padding: 0;
  }
  article.bundles-info .wrap section {
    flex-direction: column;
  }
  article.bundles-info .wrap section aside {
    width: 100%;
  }
  article.bundles-info .wrap section aside.left .active-link {
    display: flex;
  }
  article.bundles-info .wrap section aside.left nav {
    display: none;
    background: rgba(233, 238, 245, 0.8);
    width: 100%;
    position: absolute;
    z-index: 100;
    align-items: center;
  }
  article.bundles-info .wrap section aside.left nav a {
    border: none;
    padding: 0 30px;
  }
  article.bundles-info .wrap section .content {
    width: 100%;
    height: 495px;
  }
  article.bundles-info .wrap section .content .info ul {
    padding: 16px 10px;
    overflow: hidden;
  }
}
