/* main colors*/
/*bg_freenode*/
/*bg_video*/
body > header .wrap nav ul li a.active {
  color: #FF7F4D;
}
article.implementations {
  padding-top: 127px;
  padding-bottom: 93px;
}
@media (max-width: 940px) {
  article.implementations {
    padding-top: 58px;
    padding-bottom: 52px;
  }
}
article.implementations .wrap p {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: normal;
  font-family: Roboto-Light, SansSerif;
  color: #9099A9;
  margin: 20px 0 73px 0;
}
@media (max-width: 940px) {
  article.implementations .wrap p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 41px;
  }
}
article.implementations .wrap .links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
}
@media (max-width: 940px) {
  article.implementations .wrap .links {
    justify-content: center;
  }
}
article.implementations .wrap .links .active-link {
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  text-decoration: none;
}
article.implementations .wrap .links .active-link .copy-block {
  display: flex;
  align-items: center;
}
article.implementations .wrap .links .active-link .img {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
article.implementations .wrap .links .active-link .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}
article.implementations .wrap .links .active-link .img img.node {
  width: 32px;
}
article.implementations .wrap .links .active-link .img img.golang {
  width: 15px;
}
article.implementations .wrap .links .active-link .img img.haskell {
  width: 25px;
}
article.implementations .wrap .links .active-link .img img.java {
  width: 16px;
}
article.implementations .wrap .links .active-link .img img.python {
  width: 18px;
}
article.implementations .wrap .links .active-link span {
  color: #31BDEE;
  font-size: 16px;
}
article.implementations .wrap .links .active-link i {
  margin-left: 5px;
  font-size: 8px;
  color: #9099A9;
}
article.implementations .wrap .links .active-link.inactive {
  pointer-events: none;
  cursor: default;
}
article.implementations .wrap .links .active-link.inactive .img {
  opacity: 0.3;
}
article.implementations .wrap .links .active-link.inactive span {
  color: #DFE5EE;
}
article.implementations .wrap .links .active-link:hover {
  opacity: 0.5;
}
@media (max-width: 940px) {
  article.implementations .wrap .links .active-link {
    display: flex;
  }
}
article.implementations .wrap .links .columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
article.implementations .wrap .links .columns .column {
  border-right: 1px solid #F5F7FB;
}
article.implementations .wrap .links .columns .column .link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  text-decoration: none;
}
article.implementations .wrap .links .columns .column .link .img {
  width: 30px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
article.implementations .wrap .links .columns .column .link span {
  color: #31BDEE;
  font-size: 16px;
}
article.implementations .wrap .links .columns .column .link.inactive {
  pointer-events: none;
  cursor: default;
}
article.implementations .wrap .links .columns .column .link.inactive .img {
  opacity: 0.3;
}
article.implementations .wrap .links .columns .column .link.inactive span {
  color: #DFE5EE;
}
article.implementations .wrap .links .columns .column .link:hover {
  opacity: 0.5;
}
article.implementations .wrap .links .columns .column.col1 {
  padding: 0 40px 0 12px;
}
article.implementations .wrap .links .columns .column.col1 .img {
  margin-right: 10px;
}
article.implementations .wrap .links .columns .column.col2 {
  padding: 0 40px 0 33px;
}
article.implementations .wrap .links .columns .column.col2 .img {
  margin-right: 8px;
}
article.implementations .wrap .links .columns .column.col3 {
  padding: 0 42px 0 34px;
}
article.implementations .wrap .links .columns .column.col3 .img {
  margin-right: 5px;
}
article.implementations .wrap .links .columns .column.col4 {
  padding: 0 0 0 33px;
}
article.implementations .wrap .links .columns .column.col4 .img {
  margin-right: 0;
}
article.implementations .wrap .links .columns .column:last-child {
  border: none;
}
@media (max-width: 940px) {
  article.implementations .wrap .links .columns .column {
    border: none;
    padding: 0 20px !important;
  }
}
@media (max-width: 940px) {
  article.implementations .wrap .links .columns {
    display: none;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 40px;
    flex-direction: column;
    z-index: 100;
  }
}
main > .img {
  margin-top: 60px;
  width: 100%;
  position: absolute;
  background: #F3F6F9;
  text-align: center;
  z-index: 1;
}
main > .img.fixed {
  position: fixed;
  top: 100px;
}
main > .img .cubes-wrapper {
  display: inline-block;
  position: relative;
}
main > .img .cubes-wrapper img.cubes {
  opacity: 0;
  position: absolute;
  width: 46px;
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -ms-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}
main > .img .cubes-wrapper img.cubes.transports {
  top: -1px;
  left: 40px;
}
main > .img .cubes-wrapper img.cubes.transports.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.stream-muxers {
  top: 11px;
  left: 61px;
}
main > .img .cubes-wrapper img.cubes.stream-muxers.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.crypto-channels {
  width: 67px;
  top: 10px;
  left: 18px;
}
main > .img .cubes-wrapper img.cubes.crypto-channels.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.connection-upgrades {
  width: 47px;
  top: 22px;
  left: -2px;
}
main > .img .cubes-wrapper img.cubes.connection-upgrades.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.peer-routing {
  width: 65px;
  top: 36px;
  left: 21px;
}
main > .img .cubes-wrapper img.cubes.peer-routing.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.record-stores {
  width: 46px;
  top: 34px;
  left: 61px;
}
main > .img .cubes-wrapper img.cubes.record-stores.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.nat-traversal {
  width: 67px;
  top: 22px;
  left: 59px;
}
main > .img .cubes-wrapper img.cubes.nat-traversal.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.discovery {
  width: 89px;
  top: 60px;
  left: 39px;
}
main > .img .cubes-wrapper img.cubes.discovery.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.utils {
  width: 46px;
  top: 72px;
  left: 40px;
}
main > .img .cubes-wrapper img.cubes.utils.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.generics {
  width: 63px;
  top: 75px;
  left: 1px;
}
main > .img .cubes-wrapper img.cubes.generics.show {
  opacity: 1;
}
main > .img .cubes-wrapper img.cubes.others {
  width: 66px;
  top: 87px;
  left: 40px;
}
main > .img .cubes-wrapper img.cubes.others.show {
  opacity: 1;
}
article.implementations-info {
  background: #F3F6F9;
  padding-top: 0;
  padding-bottom: 170px;
}
@media (max-width: 940px) {
  article.implementations-info {
    padding-bottom: 70px;
  }
}
@media (max-width: 940px) {
  article.implementations-info .wrap {
    padding: 0;
  }
}
article.implementations-info .wrap section {
  margin-top: 270px;
}
article.implementations-info .wrap section#transports .img img.cubes {
  top: -1px;
  left: 39px;
}
article.implementations-info .wrap section#transports .table {
  height: 690px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#transports .table {
    height: 635px;
  }
}
article.implementations-info .wrap section#stream-muxers .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#stream-muxers .table {
  height: 370px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#stream-muxers .table {
    height: 313px;
  }
}
article.implementations-info .wrap section#crypto-channels .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#crypto-channels .table {
  height: 323px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#crypto-channels .table {
    height: 265px;
  }
}
article.implementations-info .wrap section#connection-upgrades .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#connection-upgrades .table {
  height: 383px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#connection-upgrades .table {
    height: 313px;
  }
}
article.implementations-info .wrap section#peer-routing .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#peer-routing .table {
  height: 415px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#peer-routing .table {
    height: 358px;
  }
}
article.implementations-info .wrap section#record-stores .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#record-stores .table {
  height: 369px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#record-stores .table {
    height: 313px;
  }
}
article.implementations-info .wrap section#nat-traversal .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#nat-traversal .table {
  height: 324px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#nat-traversal .table {
    height: 266px;
  }
}
article.implementations-info .wrap section#discovery .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#discovery .table {
  height: 415px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#discovery .table {
    height: 360px;
  }
}
article.implementations-info .wrap section#utils .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#utils .table {
  height: 324px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#utils .table {
    height: 266px;
  }
}
article.implementations-info .wrap section#generics .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#generics .table {
  height: 462px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#generics .table {
    height: 404px;
  }
}
article.implementations-info .wrap section#others .img img.cubes {
  top: 10px;
  left: 60px;
}
article.implementations-info .wrap section#others .table {
  height: 415px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section#others .table {
    height: 359px;
  }
}
article.implementations-info .wrap section .table {
  margin-top: 55px;
  position: relative;
  min-width: 300px;
  width: 100%;
  border: 1px solid #DFE5EE;
  border-radius: 5px;
  z-index: 1;
}
article.implementations-info .wrap section .table .title {
  min-width: 300px;
  width: 100%;
  height: 160px;
  background: white;
  border: 1px solid #DFE5EE;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1px #DFE5EE;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
}
article.implementations-info .wrap section .table .title .wrapper {
  height: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
article.implementations-info .wrap section .table .title .wrapper .header {
  font-family: Roboto-Light, SansSerif;
  font-size: 30px;
  color: #48505D;
  padding: 20px 0;
  text-align: center;
}
article.implementations-info .wrap section .table .info {
  min-width: 300px;
  width: 100%;
  height: auto;
  background: white;
  border: 1px solid #DFE5EE;
  border-top: none;
  box-shadow: 0 0 10px 1px #DFE5EE;
  position: absolute;
  top: 160px;
  left: 0;
  z-index: 11;
}
article.implementations-info .wrap section .table .info .table-wrapper {
  overflow-x: auto;
  overflow-y: visible;
  margin-left: 240px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section .table .info .table-wrapper {
    margin-left: 170px;
  }
}
article.implementations-info .wrap section .table .info table {
  font-size: 16px;
  border-collapse: collapse;
}
article.implementations-info .wrap section .table .info table *:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
article.implementations-info .wrap section .table .info table tr {
  height: 46px;
}
article.implementations-info .wrap section .table .info table tr.empty {
  height: 13px;
}
article.implementations-info .wrap section .table .info table tr.empty th {
  height: 13px !important;
}
article.implementations-info .wrap section .table .info table tr th {
  font-family: Roboto-Light, SansSerif;
  color: #A9B0BC;
  border-right: 1px solid #DFE5EE;
  width: 99px;
  text-align: left;
  padding-left: 40px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section .table .info table tr th {
    padding-left: 17px;
  }
}
article.implementations-info .wrap section .table .info table tr th.head-col {
  position: absolute;
  left: 0;
  top: auto;
  background: white;
  display: flex;
  align-items: center;
  height: 47px;
  width: 240px;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section .table .info table tr th.head-col {
    width: 170px;
  }
}
article.implementations-info .wrap section .table .info table tr td {
  text-align: center;
  border-right: 1px solid #DFE5EE;
  line-height: 0;
}
article.implementations-info .wrap section .table .info table tr td a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}
article.implementations-info .wrap section .table .info table tr:not(.empty):not(.head-row):hover th {
  color: #21B7EC;
}
article.implementations-info .wrap section .table .info table tr:not(.empty):not(.head-row):hover td {
  background: #FCFCFD;
  border-top: 1px solid #DFE5EE;
  border-bottom: 1px solid #DFE5EE;
  border-right-color: transparent;
  cursor: pointer;
}
article.implementations-info .wrap section .table .info table tr:not(.empty):not(.head-row):hover td:last-child {
  border-right-color: #DFE5EE;
}
article.implementations-info .wrap section .table .info table tr:first-of-type th {
  text-align: center;
  font-family: Roboto-Regular, SansSerif;
  color: #9099A9;
  padding: 0;
  border-right: 1px solid #DFE5EE;
  border-left: 1px solid transparent;
}
article.implementations-info .wrap section .table .description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 53px;
  z-index: 10;
}
article.implementations-info .wrap section .table .description > div {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
article.implementations-info .wrap section .table .description > div:last-of-type {
  margin-right: 0;
}
article.implementations-info .wrap section .table .description > div i {
  margin-right: 8px;
}
article.implementations-info .wrap section .table .description > div span {
  color: #9FA7B6;
}
@media (max-width: 940px) {
  article.implementations-info .wrap section .table .description {
    display: none;
  }
}
