/* main colors*/
/*bg_freenode*/
/*bg_video*/
article {
  position: relative;
}
article > * {
  opacity: 0;
}
article.a-modular-network-stack > * {
  opacity: 1;
}
article.show > * {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
article.a-modular-network-stack {
  width: 100%;
  padding-bottom: 38px;
  padding-top: 0;
}
article.a-modular-network-stack .homepage-animation {
  width: 100%;
  max-height: 475px;
  min-height: 231px;
  height: 475px;
  display: block;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
article.a-modular-network-stack .homepage-animation.static {
  display: flex;
}
article.a-modular-network-stack .homepage-animation #static-stage {
  display: none;
  width: 220px;
  height: 260px;
}
article.a-modular-network-stack .homepage-animation #static-stage.show {
  display: block;
  margin-top: 95px;
  margin-left: 5px;
}
@media (max-width: 767px) {
  article.a-modular-network-stack .homepage-animation #static-stage {
    width: 115px;
    height: 135px;
  }
  article.a-modular-network-stack .homepage-animation #static-stage.show {
    margin-top: 20px;
  }
}
article.a-modular-network-stack .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
}
article.a-modular-network-stack .wrap h2 {
  opacity: 0;
  font-family: Roboto-Bold, SansSerif;
  font-size: 65px;
  line-height: 67px;
  letter-spacing: -0.3px;
  margin: 0;
  text-align: center;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
article.a-modular-network-stack .wrap h2 span:nth-child(1) {
  color: #A8539E;
}
article.a-modular-network-stack .wrap h2 span:nth-child(2) {
  color: #EF65A4;
}
article.a-modular-network-stack .wrap h2 span:nth-child(3) {
  color: #F9C234;
}
article.a-modular-network-stack .wrap h2 span:nth-child(4) {
  color: #CDDD40;
}
article.a-modular-network-stack .wrap p {
  font-family: Roboto-Light, SansSerif;
  font-size: 30px;
  color: #9099a9;
  text-align: center;
  margin-top: 25px;
  line-height: 40px;
  opacity: 0;
  position: relative;
  top: 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
article.a-modular-network-stack .wrap p.show {
  opacity: 1;
  top: 0;
}
article.a-modular-network-stack .wrap .buttons {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 420px;
  width: 100%;
  justify-content: center;
  opacity: 0;
  position: relative;
  top: 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
article.a-modular-network-stack .wrap .buttons.show {
  opacity: 1;
  top: 0;
}
article.a-modular-network-stack .wrap .buttons a {
  margin-top: 29px;
}
@media (max-width: 767px) {
  article.a-modular-network-stack .wrap .buttons {
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  article.a-modular-network-stack .homepage-animation {
    height: 231px;
  }
  article.a-modular-network-stack .wrap {
    margin-bottom: 23px;
  }
  article.a-modular-network-stack .wrap h2 {
    font-size: 37px;
    line-height: 42px;
  }
  article.a-modular-network-stack .wrap p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 21px;
  }
  article.a-modular-network-stack .wrap .buttons button {
    margin-top: 20px;
  }
}
article.features {
  background: #f3f6f9;
  padding-bottom: 180px;
}
@media (max-width: 767px) {
  article.features {
    padding-bottom: 88px;
  }
}
article.features .wrap {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
article.features .wrap .card {
  margin-bottom: 10px;
  width: 310px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
article.features .wrap .rectangle {
  margin: auto;
  width: 300px;
  height: 260px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
  border: 1px solid #DFE5EE;
  border-radius: 3px;
  box-shadow: 0 0 10px 1px #DFE5EE;
  text-decoration: none;
  overflow: hidden;
}
article.features .wrap .rectangle div {
  font-family: Roboto-Light, SansSerif;
  color: #48505d;
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  margin-top: 10px;
  width: 245px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
article.features .wrap .rectangle img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
article.features .wrap .rectangle p {
  opacity: 0;
  height: 0;
  margin: 0;
  text-align: center;
  font-size: 17px;
  color: #A8ACB2;
  width: 260px;
  letter-spacing: -0.6px;
  line-height: 26px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
article.features .wrap .rectangle:hover {
  width: 310px;
  height: 270px;
  padding-top: 16px;
}
article.features .wrap .rectangle:hover img {
  opacity: 0;
  width: 0;
  height: 0;
}
article.features .wrap .rectangle:hover p {
  opacity: 1;
  height: auto;
  margin: 2px 0 17px 0;
}
@media (max-width: 767px) {
  article.features .wrap .rectangle {
    width: 160px;
    height: 140px;
  }
  article.features .wrap .rectangle:hover {
    width: 165px;
    height: 145px;
  }
  article.features .wrap .rectangle img {
    width: 92px;
    height: auto;
  }
  article.features .wrap .rectangle div {
    width: 150px;
    height: 40px;
    font-size: 16px;
    line-height: 18px;
  }
  article.features .wrap .rectangle p {
    font-size: 8px;
    width: 150px;
    line-height: 16px;
  }
}
@media (max-width: 1200px) {
  article.features .wrap {
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  article.features .wrap {
    margin-top: 40px;
  }
  article.features .wrap .card {
    width: 165px;
    height: 145px;
  }
  article.features .wrap .rectangle {
    margin-bottom: 10px;
  }
}
article.features .img1 {
  position: absolute;
  top: 160px;
  right: 15px;
}
article.features .img2 {
  position: absolute;
  bottom: 141px;
  left: 54px;
}
article.example {
  padding-bottom: 97px;
}
article.example .wrap {
  margin-top: 58px;
}
article.example .wrap img {
  width: 100%;
  height: auto;
}
article.example img.img3 {
  position: absolute;
  top: 20px;
  right: 74px;
}
@media (max-width: 767px) {
  article.example {
    padding-top: 60px;
  }
}
article.implementations-in {
  background: white;
  padding-bottom: 177px;
}
article.implementations-in header h2 {
  letter-spacing: -0.5px;
}
article.implementations-in .wrap {
  margin-top: 68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
article.implementations-in .wrap .card {
  position: relative;
  width: 310px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
article.implementations-in .wrap .card .rectangle {
  width: 300px;
  height: 220px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  border: 1px solid #DFE5EE;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 1px #DFE5EE;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}
article.implementations-in .wrap .card .rectangle .img-wrap {
  position: absolute;
  top: 55px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
article.implementations-in .wrap .card .rectangle .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}
article.implementations-in .wrap .card .rectangle:hover {
  width: 310px;
  height: 230px;
}
article.implementations-in .wrap .card .rectangle.coming-soon,
article.implementations-in .wrap .card .rectangle.empty {
  width: 300px;
  height: 220px;
  cursor: default;
}
article.implementations-in .wrap .card .rectangle div {
  font-family: Roboto-Light, SansSerif;
  color: #48505d;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
  margin-top: 10px;
  width: 245px;
  height: 55px;
  display: none;
  justify-content: center;
  align-items: center;
}
article.implementations-in .wrap .card .rectangle.index1 div {
  margin-top: 29px;
}
article.implementations-in .wrap .card .rectangle.index2 div {
  margin-top: 3px;
}
article.implementations-in .wrap .card .rectangle.index3 div {
  margin-top: 43px;
  width: 100%;
}
article.implementations-in .wrap .card .rectangle.coming-soon {
  justify-content: flex-end;
}
article.implementations-in .wrap .card .rectangle.coming-soon * {
  opacity: 0.3;
}
article.implementations-in .wrap .card .rectangle.coming-soon div {
  display: flex;
  color: black;
  font-family: Roboto-Bold;
  width: 100%;
}
article.implementations-in .wrap .card .rectangle.empty {
  background: transparent;
  border: none;
  box-shadow: none;
}
@media (max-width: 1200px) {
  article.implementations-in .wrap .card.empty {
    display: none;
  }
}
@media (max-width: 767px) {
  article.implementations-in {
    padding-top: 58px;
    padding-bottom: 85px;
  }
  article.implementations-in .wrap {
    justify-content: flex-start;
  }
  article.implementations-in .wrap .card {
    width: 165px;
    height: 125px;
  }
  article.implementations-in .wrap .card .rectangle {
    width: 160px;
    height: 120px;
  }
  article.implementations-in .wrap .card .rectangle .img-wrap {
    top: 0;
  }
  article.implementations-in .wrap .card .rectangle img {
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    -ms-transform: scale(0.55);
    -o-transform: scale(0.55);
    transform: scale(0.55);
  }
  article.implementations-in .wrap .card .rectangle.index3 img {
    position: relative;
    top: 20px;
  }
  article.implementations-in .wrap .card .rectangle:hover {
    width: 165px;
    height: 125px;
  }
  article.implementations-in .wrap .card .rectangle.coming-soon,
  article.implementations-in .wrap .card .rectangle.empty {
    width: 160px;
    height: 120px;
    cursor: default;
  }
  article.implementations-in .wrap .card .rectangle.coming-soon {
    padding-bottom: 8px;
  }
  article.implementations-in .wrap .card .rectangle div {
    font-size: 8px;
  }
  article.implementations-in .wrap .card .rectangle.index1 div {
    margin-top: 2px;
  }
  article.implementations-in .wrap .card .rectangle.index2 div {
    margin-top: 0;
  }
}
article.publications-talks {
  background: #f3f6f9;
  padding-bottom: 100px;
}
article.publications-talks .wrap {
  margin-top: 60px;
  margin-bottom: 56px;
}
article.publications-talks .wrap iframe {
  display: block;
  margin: 0 auto;
  max-width: 620px;
  min-width: 300px;
  width: 620px;
  max-height: 350px;
  min-height: 200px;
  height: 350px;
  border-radius: 5px;
  border: 0;
}
@media (max-width: 767px) {
  article.publications-talks .wrap iframe {
    width: 300px;
    height: 200px;
  }
}
article.publications-talks .btn-more-videos {
  margin: 0 auto;
}
article.publications-talks .img6 {
  position: absolute;
  top: 160px;
  left: 115px;
}
article.publications-talks .img7 {
  position: absolute;
  bottom: -120px;
  right: 15px;
}
@media (max-width: 767px) {
  article.publications-talks {
    padding-top: 62px;
    padding-bottom: 60px;
  }
  article.publications-talks .wrap {
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0;
  }
}
article.community {
  padding-bottom: 0;
}
article.community .wrap {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article.community .wrap p {
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.5px;
  font-family: Roboto-Light, SansSerif;
  color: #555C68;
}
article.community .wrap h6 {
  font-size: 30px;
  font-weight: 100;
  margin-top: 43px;
  margin-bottom: 19px;
  font-family: Roboto-Light, SansSerif;
  color: #555C68;
}
article.community .wrap .buttons {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
article.community .wrap .buttons button {
  margin-top: 20px;
}
@media (max-width: 767px) {
  article.community .wrap .buttons {
    justify-content: space-around;
  }
}
article.community .persons {
  width: 100%;
  height: 240px;
  margin-top: 82px;
  position: relative;
  overflow: hidden;
}
article.community .persons .svg-wrapper {
  overflow-x: auto;
  height: 250px;
  overflow-y: hidden;
}
article.community .persons .svg-wrapper use:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  article.community {
    padding-bottom: 0;
  }
  article.community .wrap {
    margin-top: 42px;
  }
}
/* responsive */
@media (max-width: 376px) {
  article.features .wrap {
    margin-top: 37px;
    justify-content: space-between;
  }
  article.features .wrap .card {
    margin-bottom: 5px;
  }
  article.features .wrap .rectangle div {
    margin-top: 4px;
  }
  article.implementations-in {
    padding-top: 66px;
  }
  article.implementations-in .wrap {
    justify-content: space-between;
  }
  article.implementations-in .wrap .card {
    margin-bottom: 4px;
  }
  article.implementations-in .wrap .card .rectangle.coming-soon img {
    max-height: 50px;
    max-width: 100%;
    width: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  article.implementations-in .wrap .card .rectangle.coming-soon.index2 img {
    max-height: 75px;
    height: 75px;
  }
  article.implementations-in .wrap .card .rectangle.coming-soon.index3 img {
    max-height: 34px;
    height: 34px;
  }
  article.implementations-in .wrap .card .rectangle.coming-soon.index4 img {
    max-height: 65px;
  }
  article.implementations-in .wrap .card .rectangle.coming-soon div {
    height: 30px;
    line-height: 30px;
  }
  article.publications-talks {
    padding-top: 56px;
  }
  footer .wrap .copyright {
    line-height: 24px;
  }
}
@media (max-width: 357px) {
  article.implementations-in .wrap,
  article.features .wrap {
    justify-content: space-around;
  }
}
