@import "../css/fonts.css";
@import "../css/fonts.css";
/* main colors*/
/*bg_freenode*/
/*bg_video*/
/***************************************************************/
/* Author: db0 (db0company@gmail.com, http://db0.fr/)          */
/* Sources/Licence: https://github.com/db0company/css-hexagon  */
/***************************************************************/
/***************************************************************/
/* Sizes                                                       */
/***************************************************************/
/* Extra Extra Small */
.hexagon-xxs {
  color: #ffffff;
  text-align: center;
  font-size: 9.799999999999999px;
  margin: 7px 0;
  width: 24.24871130584px;
  height: 14px;
  background-color: #ebebeb;
  position: relative;
  display: block;
}
.hexagon-xxs:hover {
  color: #ffffff;
  text-decoration: none;
}
.hexagon-xxs:before,
.hexagon-xxs:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 12.12435565292px solid transparent;
  border-right: 13.12435565292px solid transparent;
  left: 0;
}
.hexagon-xxs:before {
  border-bottom: 7px solid #ebebeb;
  top: -7px;
}
.hexagon-xxs:after {
  border-top: 7px solid #ebebeb;
  bottom: -7px;
}
/* Extra Small */
.hexagon-xs {
  color: #ffffff;
  text-align: center;
  font-size: 15.399999999999999px;
  margin: 11px 0;
  width: 38.10511776632px;
  height: 22px;
  background-color: #ebebeb;
  position: relative;
  display: block;
}
.hexagon-xs:hover {
  color: #ffffff;
  text-decoration: none;
}
.hexagon-xs:before,
.hexagon-xs:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 19.05255888316px solid transparent;
  border-right: 20.05255888316px solid transparent;
  left: 0;
}
.hexagon-xs:before {
  border-bottom: 11px solid #ebebeb;
  top: -11px;
}
.hexagon-xs:after {
  border-top: 11px solid #ebebeb;
  bottom: -11px;
}
/* Small */
.hexagon-sm {
  color: #ffffff;
  text-align: center;
  font-size: 30.799999999999997px;
  margin: 22px 0;
  width: 76.21023553264px;
  height: 44px;
  background-color: #ebebeb;
  position: relative;
  display: block;
}
.hexagon-sm:hover {
  color: #ffffff;
  text-decoration: none;
}
.hexagon-sm:before,
.hexagon-sm:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 38.10511776632px solid transparent;
  border-right: 39.10511776632px solid transparent;
  left: 0;
}
.hexagon-sm:before {
  border-bottom: 22px solid #ebebeb;
  top: -22px;
}
.hexagon-sm:after {
  border-top: 22px solid #ebebeb;
  bottom: -22px;
}
/* Medium */
.hexagon-md {
  color: #ffffff;
  text-align: center;
  font-size: 44.8px;
  margin: 32px 0;
  width: 110.85125168384px;
  height: 64px;
  background-color: #ebebeb;
  position: relative;
  display: block;
}
.hexagon-md:hover {
  color: #ffffff;
  text-decoration: none;
}
.hexagon-md:before,
.hexagon-md:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 55.42562584192px solid transparent;
  border-right: 56.42562584192px solid transparent;
  left: 0;
}
.hexagon-md:before {
  border-bottom: 32px solid #ebebeb;
  top: -32px;
}
.hexagon-md:after {
  border-top: 32px solid #ebebeb;
  bottom: -32px;
}
/* Large */
.hexagon-lg {
  color: #ffffff;
  text-align: center;
  font-size: 61.599999999999994px;
  margin: 44px 0;
  width: 152.42047106528px;
  height: 88px;
  background-color: #ebebeb;
  position: relative;
  display: block;
}
.hexagon-lg:hover {
  color: #ffffff;
  text-decoration: none;
}
.hexagon-lg:before,
.hexagon-lg:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 76.21023553264px solid transparent;
  border-right: 77.21023553264px solid transparent;
  left: 0;
}
.hexagon-lg:before {
  border-bottom: 44px solid #ebebeb;
  top: -44px;
}
.hexagon-lg:after {
  border-top: 44px solid #ebebeb;
  bottom: -44px;
}
/* Extra large */
.hexagon-xl {
  color: #ffffff;
  text-align: center;
  font-size: 84px;
  margin: 60px 0;
  width: 207.8460969072px;
  height: 120px;
  background-color: #ebebeb;
  position: relative;
  display: block;
}
.hexagon-xl:hover {
  color: #ffffff;
  text-decoration: none;
}
.hexagon-xl:before,
.hexagon-xl:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 103.9230484536px solid transparent;
  border-right: 104.9230484536px solid transparent;
  left: 0;
}
.hexagon-xl:before {
  border-bottom: 60px solid #ebebeb;
  top: -60px;
}
.hexagon-xl:after {
  border-top: 60px solid #ebebeb;
  bottom: -60px;
}
/***************************************************************/
/* Colors                                                      */
/***************************************************************/
/* Default */
.hexagon-default {
  background-color: #ebebeb;
}
.hexagon-default:before {
  border-bottom-color: #ebebeb;
}
.hexagon-default:after {
  border-top-color: #ebebeb;
}
.hexagon-default.hexagon-hover:hover {
  background-color: #cccccc;
}
.hexagon-default.hexagon-hover:hover:before {
  border-bottom-color: #cccccc;
}
.hexagon-default.hexagon-hover:hover:after {
  border-top-color: #cccccc;
}
/* Primary */
.hexagon-primary {
  background-color: #428bca;
}
.hexagon-primary:before {
  border-bottom-color: #428bca;
}
.hexagon-primary:after {
  border-top-color: #428bca;
}
.hexagon-primary.hexagon-hover:hover {
  background-color: #3276b1;
}
.hexagon-primary.hexagon-hover:hover:before {
  border-bottom-color: #3276b1;
}
.hexagon-primary.hexagon-hover:hover:after {
  border-top-color: #3276b1;
}
/* Success */
.hexagon-success {
  background-color: #5cb85c;
}
.hexagon-success:before {
  border-bottom-color: #5cb85c;
}
.hexagon-success:after {
  border-top-color: #5cb85c;
}
.hexagon-success.hexagon-hover:hover {
  background-color: #47a447;
}
.hexagon-success.hexagon-hover:hover:before {
  border-bottom-color: #47a447;
}
.hexagon-success.hexagon-hover:hover:after {
  border-top-color: #47a447;
}
/* Info */
.hexagon-info {
  background-color: #5bc0de;
}
.hexagon-info:before {
  border-bottom-color: #5bc0de;
}
.hexagon-info:after {
  border-top-color: #5bc0de;
}
.hexagon-info.hexagon-hover:hover {
  background-color: #39b3d7;
}
.hexagon-info.hexagon-hover:hover:before {
  border-bottom-color: #39b3d7;
}
.hexagon-info.hexagon-hover:hover:after {
  border-top-color: #39b3d7;
}
/* Warning */
.hexagon-warning {
  background-color: #f0ad4e;
}
.hexagon-warning:before {
  border-bottom-color: #f0ad4e;
}
.hexagon-warning:after {
  border-top-color: #f0ad4e;
}
.hexagon-warning.hexagon-hover:hover {
  background-color: #ed9c28;
}
.hexagon-warning.hexagon-hover:hover:before {
  border-bottom-color: #ed9c28;
}
.hexagon-warning.hexagon-hover:hover:after {
  border-top-color: #ed9c28;
}
/* Danger */
.hexagon-danger {
  background-color: #d9534f;
}
.hexagon-danger:before {
  border-bottom-color: #d9534f;
}
.hexagon-danger:after {
  border-top-color: #d9534f;
}
.hexagon-danger.hexagon-hover:hover {
  background-color: #d2322d;
}
.hexagon-danger.hexagon-hover:hover:before {
  border-bottom-color: #d2322d;
}
.hexagon-danger.hexagon-hover:hover:after {
  border-top-color: #d2322d;
}
/***************************************************************/
/* Inline                                                      */
/***************************************************************/
.hexagon-inline {
  display: inline-block;
}
.link {
  transition-timing-function: linear;
  transition-duration: 0.5s;
  transition-property: all;
}
.btn-socials {
  width: 200px;
  height: 58px;
  border: none;
  color: #fefefe;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  letter-spacing: 1.2px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-twitter {
  background: #24a8e6;
}
.btn-twitter:hover {
  background: #50b9eb;
  cursor: pointer;
}
.btn-twitter:active {
  background: #1d86b8;
}
.btn-twitter.disabled {
  background: #addff6;
}
.btn-freenode {
  background: #cedd40;
  text-transform: uppercase;
}
.btn-freenode:hover {
  background: #d8e466;
  cursor: pointer;
}
.btn-freenode:active {
  background: #a5b133;
}
.btn-freenode.disabled {
  background: #eff4c2;
}
.btn-github {
  background: #333333;
  text-transform: uppercase;
}
.btn-github:hover {
  background: #5c5c5c;
  cursor: pointer;
}
.btn-github:active {
  background: #292929;
}
.btn-github.disabled {
  background: #808080;
}
.btn-community {
  background: #9099a9;
  text-transform: uppercase;
}
.btn-community:hover {
  background: #a6adba;
  cursor: pointer;
}
.btn-community:active {
  background: #737a87;
}
.btn-community.disabled {
  background: #e6e8ec;
}
.btn-more-videos {
  background: #ee5499;
  text-transform: uppercase;
}
.btn-more-videos:hover {
  background: #f176ad;
  cursor: pointer;
}
.btn-more-videos:active {
  background: #be437a;
}
.btn-more-videos.disabled {
  background: #fcdfec;
}
.btn-copy {
  display: block;
  width: 76px;
  height: 30px;
  font-size: 12px;
  color: #ffffff;
  font-family: 'Roboto-Bold';
  background: #ff743e;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
}
.btn-copy:hover {
  background: #ff9065;
  cursor: pointer;
}
.btn-copy:active {
  background: #cc5d32;
}
.btn-copy.disabled {
  background: #ffe2d7;
}
.btn-interface {
  display: block;
  width: 100px;
  height: 26px;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Roboto-Medium';
  background: #20b7ec;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-interface:hover {
  background: #4dc5f0;
  cursor: pointer;
}
.btn-interface:active {
  background: #1a92bd;
}
.btn-interface.disabled {
  background: #ade5f8;
}
.btn-soc-network {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}
.btn-soc-network i {
  veritical-align: middle;
}
.link-tw {
  color: #ffffff;
  text-align: center;
  font-size: 12.6px;
  margin: 9px 0;
  width: 31.17691453608px;
  height: 18px;
  background-color: #24a8e6;
  position: relative;
  display: block;
}
.link-tw:hover {
  color: #ffffff;
  text-decoration: none;
}
.link-tw:before,
.link-tw:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15.58845726804px solid transparent;
  border-right: 16.588457268040003px solid transparent;
  left: 0;
}
.link-tw:before {
  border-bottom: 9px solid #24a8e6;
  top: -9px;
}
.link-tw:after {
  border-top: 9px solid #24a8e6;
  bottom: -9px;
}
.link-tw:hover {
  background-color: #50b9eb;
  cursor: pointer;
}
.link-tw:hover:before {
  border-bottom-color: #50b9eb;
}
.link-tw:hover:after {
  border-top-color: #50b9eb;
}
.link-tw:active {
  background-color: #1d86b8;
}
.link-tw:active:before {
  border-bottom-color: #1d86b8;
}
.link-tw:active:after {
  border-top-color: #1d86b8;
}
.link-tw.disabled {
  background-color: #addff6;
}
.link-tw.disabled:before {
  border-bottom-color: #addff6;
}
.link-tw.disabled:after {
  border-top-color: #addff6;
}
.link-tw i {
  font-size: 18px;
}
.link-google-plus {
  color: #ffffff;
  text-align: center;
  font-size: 12.6px;
  margin: 9px 0;
  width: 31.17691453608px;
  height: 18px;
  background-color: #f24032;
  position: relative;
  display: block;
}
.link-google-plus:hover {
  color: #ffffff;
  text-decoration: none;
}
.link-google-plus:before,
.link-google-plus:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15.58845726804px solid transparent;
  border-right: 16.588457268040003px solid transparent;
  left: 0;
}
.link-google-plus:before {
  border-bottom: 9px solid #f24032;
  top: -9px;
}
.link-google-plus:after {
  border-top: 9px solid #f24032;
  bottom: -9px;
}
.link-google-plus:hover {
  background-color: #f5665b;
  cursor: pointer;
}
.link-google-plus:hover:before {
  border-bottom-color: #f5665b;
}
.link-google-plus:hover:after {
  border-top-color: #f5665b;
}
.link-google-plus:active {
  background-color: #c23328;
}
.link-google-plus:active:before {
  border-bottom-color: #c23328;
}
.link-google-plus:active:after {
  border-top-color: #c23328;
}
.link-google-plus.disabled {
  background-color: #fbc6c2;
}
.link-google-plus.disabled:before {
  border-bottom-color: #fbc6c2;
}
.link-google-plus.disabled:after {
  border-top-color: #fbc6c2;
}
.link-google-plus i {
  font-size: 13px;
}
.link-fb {
  color: #ffffff;
  text-align: center;
  font-size: 12.6px;
  margin: 9px 0;
  width: 31.17691453608px;
  height: 18px;
  background-color: #43609c;
  position: relative;
  display: block;
}
.link-fb:hover {
  color: #ffffff;
  text-decoration: none;
}
.link-fb:before,
.link-fb:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15.58845726804px solid transparent;
  border-right: 16.588457268040003px solid transparent;
  left: 0;
}
.link-fb:before {
  border-bottom: 9px solid #43609c;
  top: -9px;
}
.link-fb:after {
  border-top: 9px solid #43609c;
  bottom: -9px;
}
.link-fb:hover {
  background-color: #6980b0;
  cursor: pointer;
}
.link-fb:hover:before {
  border-bottom-color: #6980b0;
}
.link-fb:hover:after {
  border-top-color: #6980b0;
}
.link-fb:active {
  background-color: #364d7d;
}
.link-fb:active:before {
  border-bottom-color: #364d7d;
}
.link-fb:active:after {
  border-top-color: #364d7d;
}
.link-fb.disabled {
  background-color: #a1b3d7;
}
.link-fb.disabled:before {
  border-bottom-color: #a1b3d7;
}
.link-fb.disabled:after {
  border-top-color: #a1b3d7;
}
.link-fb i {
  font-size: 17px;
}
.link-youtube {
  color: #ffffff;
  text-align: center;
  font-size: 12.6px;
  margin: 9px 0;
  width: 31.17691453608px;
  height: 18px;
  background-color: #fb0014;
  position: relative;
  display: block;
}
.link-youtube:hover {
  color: #ffffff;
  text-decoration: none;
}
.link-youtube:before,
.link-youtube:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15.58845726804px solid transparent;
  border-right: 16.588457268040003px solid transparent;
  left: 0;
}
.link-youtube:before {
  border-bottom: 9px solid #fb0014;
  top: -9px;
}
.link-youtube:after {
  border-top: 9px solid #fb0014;
  bottom: -9px;
}
.link-youtube:hover {
  background-color: #fc3343;
  cursor: pointer;
}
.link-youtube:hover:before {
  border-bottom-color: #fc3343;
}
.link-youtube:hover:after {
  border-top-color: #fc3343;
}
.link-youtube:active {
  background-color: #c90010;
}
.link-youtube:active:before {
  border-bottom-color: #c90010;
}
.link-youtube:active:after {
  border-top-color: #c90010;
}
.link-youtube.disabled {
  background-color: #ff959d;
}
.link-youtube.disabled:before {
  border-bottom-color: #ff959d;
}
.link-youtube.disabled:after {
  border-top-color: #ff959d;
}
.link-youtube i {
  font-size: 17px;
}
.link-hexagon-item {
  display: block;
  position: relative;
  margin: 300px auto;
  width: 519.615242268px;
  height: 300px;
  /*background: url(@image_url) center center;*/
  z-index: 1;
  text-decoration: none;
}
.link-hexagon-item .face1,
.link-hexagon-item .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}
.link-hexagon-item .face1:before,
.link-hexagon-item .face2:before {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  background: inherit;
}
.link-hexagon-item .face1 {
  transform: rotate(60deg);
}
.link-hexagon-item .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-300px, 0);
}
.link-hexagon-item .face2 {
  transform: rotate(-60deg);
}
.link-hexagon-item .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(300px, 0);
}
.link-hexagon-item:hover .hexagon-hover {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  color: #ffffff;
  text-align: center;
  font-size: 210px;
  margin: 150px 0;
  width: 519.615242268px;
  height: 300px;
  background-color: rgba(50, 52, 55, 0.85);
  position: relative;
  display: block;
}
.link-hexagon-item:hover .hexagon-hover:hover {
  color: #ffffff;
  text-decoration: none;
}
.link-hexagon-item:hover .hexagon-hover:before,
.link-hexagon-item:hover .hexagon-hover:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 259.807621134px solid transparent;
  border-right: 260.807621134px solid transparent;
  left: 0;
}
.link-hexagon-item:hover .hexagon-hover:before {
  border-bottom: 150px solid rgba(50, 52, 55, 0.85);
  top: -150px;
}
.link-hexagon-item:hover .hexagon-hover:after {
  border-top: 150px solid rgba(50, 52, 55, 0.85);
  bottom: -150px;
}
.hexagon-hover > span {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
.hexagon-hover {
  display: none;
}
.wr-tringle {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: #ffffff;
}
.wr-tringle .i-triangle {
  margin-left: -7px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  -moz-transform: scale(0.9999);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 107px solid #ff0000;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
*:hover {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Roboto-Regular, SansSerif;
  font-size: 14px;
}
article.center {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 97px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  article.center {
    padding-top: 40px;
  }
}
.wrap {
  margin: 0 auto;
  max-width: 940px;
  min-width: 0;
  width: 100%;
}
@media (max-width: 940px) {
  .wrap {
    padding: 0 20px;
  }
}
.icon-hexagon,
.icon-cat {
  font-size: 14px;
}
.icon-hexagon.green,
.icon-cat.green {
  color: #15D476;
}
.icon-hexagon.red,
.icon-cat.red {
  color: #FF753F;
}
.icon-hexagon.yellow,
.icon-cat.yellow {
  color: #FFD006;
}
.icon-hexagon.grey,
.icon-cat.grey {
  color: #DFE5EE;
}
.icon-cat {
  font-size: 24px;
}
body > header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  width: 100%;
  z-index: 100;
  background: white;
  padding-bottom: 30px;
}
body > header .wrap {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}
body > header .wrap .logo {
  font-family: NexaLight, SansSerif;
  font-size: 24px;
  color: #48505D;
  padding-bottom: 4px;
  text-decoration: none;
  position: relative;
  left: -70px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
body > header .wrap .logo img {
  display: inline;
  opacity: 0;
  position: relative;
  top: 22px;
  width: 50px;
  height: 60px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
body > header .wrap .logo b {
  font-family: NexaBold, SansSerif;
}
body > header .wrap .logo.show,
body > header .wrap .logo.static {
  left: 0;
}
body > header .wrap .logo.show img,
body > header .wrap .logo.static img {
  opacity: 1;
}
body > header .wrap .fa-bars,
body > header .wrap .fa-times {
  font-size: 28px;
  color: #48505D;
}
body > header .wrap .bars,
body > header .wrap .close {
  display: none;
  position: relative;
  top: -12px;
}
body > header .wrap .close {
  order: 6;
}
body > header .wrap nav {
  position: relative;
  max-width: 590px;
  width: 100%;
  padding-bottom: 12px;
}
@media (max-width: 940px) {
  body > header .wrap nav {
    max-width: 550px;
  }
}
body > header .wrap nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
body > header .wrap nav ul li {
  display: inline;
  list-style: none;
}
body > header .wrap nav ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #9099a9;
  vertical-align: text-bottom;
}
body > header .wrap nav ul li:nth-child(1) a:hover,
body > header .wrap nav ul li:nth-child(7) a:hover {
  color: #4FBAEB;
}
body > header .wrap nav ul li:nth-child(2) a:hover,
body > header .wrap nav ul li:nth-child(8) a:hover {
  color: #D7E366;
}
body > header .wrap nav ul li:nth-child(3) a:hover,
body > header .wrap nav ul li:nth-child(9) a:hover {
  color: #5B5B5B;
}
body > header .wrap nav ul li:nth-child(4) a:hover,
body > header .wrap nav ul li:nth-child(10) a:hover {
  color: #B6BFCD;
}
body > header .wrap nav ul li:nth-child(5) a:hover {
  color: #F176AE;
}
body > header .wrap nav ul li:nth-child(6) a:hover {
  color: #FF9065;
}
@media (max-width: 767px) {
  body > header .wrap .logo {
    left: 0px;
    bottom: 10px;
    font-size: 19px;
  }
  body > header .wrap .logo img {
    opacity: 1;
    height: 50px;
    width: auto;
    top: 18px;
  }
  body > header .wrap nav {
    display: none;
    position: absolute;
    top: 68px;
    left: 0;
    max-width: none;
    width: 100%;
    padding-bottom: 42px;
    background: white;
  }
  body > header .wrap nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  body > header .wrap nav ul li {
    margin-top: 42px;
  }
  body > header .wrap nav ul li a {
    text-transform: uppercase;
    font-family: Roboto-Bold;
    color: #48505D;
    letter-spacing: 1px;
    padding-left: 18px;
  }
}
main {
  padding-top: 70px;
  padding-bottom: 60px;
}
header {
  align-self: center;
}
header > h2 {
  font-family: Roboto-Black;
  color: #48505d;
  margin: 0;
  font-size: 65px;
}
@media (max-width: 767px) {
  header > h2 {
    font-size: 36px;
    text-align: center;
  }
}
.triangle {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0px;
  z-index: 0;
}
.triangle.white {
  border-left: 50vw solid #F3F6F9;
  border-right: 50vw solid #F3F6F9;
  border-top: 5vw solid white;
}
.triangle.grey {
  border-left: 50vw solid white;
  border-right: 50vw solid white;
  border-top: 5vw solid #F3F6F9;
}
footer {
  position: relative;
  padding: 20px 0 40px;
  width: 100%;
}
footer .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .wrap .navigation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .wrap .navigation > div {
  margin-top: 18px;
}
footer .wrap .title {
  font-family: Roboto-Black;
  color: #48505D;
  font-size: 15px;
  letter-spacing: 0.3px;
}
footer .wrap .navigation .links {
  border-top: 2px solid #F0F3F7;
  margin-top: 10px;
}
footer .wrap .navigation .links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 61px;
}
footer .wrap .navigation .links ul li {
  display: inline;
  list-style: none;
  flex-basis: 52px;
}
footer .wrap .navigation .links ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #9AA2B1;
}
footer .wrap .navigation .links ul li:nth-child(1) a:hover,
footer .wrap .navigation .links ul li:nth-child(7) a:hover {
  color: #4FBAEB;
}
footer .wrap .navigation .links ul li:nth-child(2) a:hover,
footer .wrap .navigation .links ul li:nth-child(8) a:hover {
  color: #D7E366;
}
footer .wrap .navigation .links ul li:nth-child(3) a:hover,
footer .wrap .navigation .links ul li:nth-child(9) a:hover {
  color: #5B5B5B;
}
footer .wrap .navigation .links ul li:nth-child(4) a:hover,
footer .wrap .navigation .links ul li:nth-child(10) a:hover {
  color: #B6BFCD;
}
footer .wrap .navigation .links ul li:nth-child(5) a:hover {
  color: #F176AE;
}
footer .wrap .navigation .links ul li:nth-child(6) a:hover {
  color: #FF9065;
}
footer .wrap .navigation .protocol-labs {
  max-width: 180px;
  flex-basis: 180px;
}
footer .wrap .navigation .ipfs {
  max-width: 500px;
  flex-basis: 500px;
}
@media (max-width: 767px) {
  footer .wrap .navigation .ipfs .links ul {
    line-height: 38px;
    margin-top: 11px;
  }
}
footer .wrap .navigation .filecoin {
  max-width: 105px;
  flex-basis: 105px;
}
footer .wrap .icons-social {
  display: flex;
  width: 180px;
  justify-content: space-between;
  padding: 17px 0;
}
footer .wrap .copyright {
  padding: 25px 0;
  font-family: Roboto-Light, SansSerif;
  font-size: 16px;
  color: #5B626E;
  letter-spacing: -0.1px;
}
@media (max-width: 767px) {
  footer .wrap .copyright {
    text-align: center;
  }
}
footer .wrap .img8 {
  position: absolute;
  left: 14px;
  bottom: 130px;
}
@media (max-width: 767px) {
  footer {
    padding-top: 22px;
  }
}
@media (max-width: 640px) {
  footer .wrap .navigation .links ul {
    justify-content: flex-start;
  }
  footer .wrap .navigation .links ul li {
    margin-right: 22px;
    flex-basis: auto;
  }
  footer .wrap .navigation .filecoin,
  footer .wrap .navigation .protocol-labs {
    max-width: 100%;
    flex-basis: 100%;
  }
  footer .wrap .navigation .ipfs {
    margin-top: 15px;
  }
  footer .wrap .navigation .filecoin {
    margin-top: 28px;
  }
}
@media (max-width: 1200px) {
  .decoration {
    display: none;
  }
}
