<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Libp2p</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/examples.css">
</head>
<body>
<header>
    <div class="wrap">
        <a class="logo static" href="/">
            <img width="60" height="72" src="/img/logo_small.png" alt="">
            <b>lib</b>p2p</a>
        <a href='#' class='bars'><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href='#' class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
        <nav>
            <ul>
                <li><a href="/implementations">Implementations</a></li>
                <li><a href="/bundles">Bundles</a></li>
                <li><a href="/examples" class="active">Examples</a></li>
                <li><a href="/media">Media</a></li>
                <li><a href="https://github.com/libp2p" target="_blank">Github</a></li>
                <li><a href="https://github.com/libp2p/specs" target="_blank">Specifications</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <article class="center examples">
        <header>
            <h2>Examples.</h2>
        </header>
        <div class="wrap">
            <p>
                Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec
                pharetra id, tempor a tortor. Pellentesque non dignissim neque.
            </p>
        </div>

        <div class="hexagons">

            <div class="hexagons-wrapper">

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img3.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>

                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img2.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>

                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img1.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>


                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img0.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>


                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img4.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>

                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img5.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>

                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img6.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>

                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img3.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>

                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img2.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>

                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img1.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>


                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img0.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>


                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img4.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>

                </div>

                <div class="hexagon-wrapper">

                    <svg class="svg-graphic" viewBox="0 0 300 346" xmlns="http://www.w3.org/2000/svg"
                         xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve">
                        <g>
                            <clipPath id="hexagonal-mask">

                                <path d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,
                                0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,
                                3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,0.4,2.3,0.4c1.2,0,
                                2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,85.3,296.5,84.2z"/>
                            </clipPath>

                            <filter id="blur">
                                <feGaussianBlur stdDeviation="20"/>
                            </filter>

                        </g>

                        <a xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink" transform="">

                            <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
                                   xlink:href="/img/background/img5.jpg"
                                   preserveAspectRatio="xMidYMin slice" />

                            <g class="hover">
                                <path fill="black" fill-opacity="0.6" d="M296.5,84.2L153.5,1c-0.9-0.5-2.1-0.8-3.3-0.8c-0.1,
                                0-0.1,0-0.2,0c0,0,0,0,0,0c-0.8,0-1.5,0.1-2.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.5L3.5,84.2C1.5,
                                85.3,0,88,0,90.2v165c0,2.2,1.5,4.9,3.5,6l143.1,83.2c0.3,0.2,0.7,0.3,1.1,0.5c0.7,0.2,1.5,
                                0.4,2.3,0.4c1.2,0,2.5-0.3,3.5-0.8l143.1-83.2c1.9-1.1,3.5-3.8,3.5-6v-165C300,88,298.5,
                                85.3,296.5,84.2z"/>

                                <text x="90" y="150" font-size="20px" fill="white">Sapien Metus</text>
                                <foreignObject x="0" y="160" width="300" height="200"
                                               requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <p style="color: white;text-align: center;font-size: 16px;font-family: Roboto-Light;"
                                       xmlns="http://www.w3.org/1999/xhtml">Sed sapien metus, scelerisque nec pharetra id,
                                        tempor a tortor.
                                    </p>
                                </foreignObject>
                            </g>

                        </a>

                    </svg>

                </div>

            </div>

        </div>

    </article>
</main>

<footer>
    <div class="wrap">
        <div class="navigation">
            <!--<div class="protocol-labs">-->
                <!--<div class="title">PROTOCOL LABS</div>-->
                <!--<nav class="links">-->
                    <!--<ul>-->
                        <!--<li><a href="">About</a></li>-->
                        <!--<li><a href="">Contacts</a></li>-->
                        <!--<li><a href="">Join</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->

            <div class="ipfs">
                <div class="title">IPFS</div>
                <nav class="links">
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Install</a></li>
                        <li><a href="">Media</a></li>
                        <li><a href="">Docs</a></li>
                        <li><a href="">Code</a></li>
                        <li><a href="">Community</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Legal</a></li>
                    </ul>
                </nav>
            </div>

            <!--<div class="filecoin">-->
                <!--<div class="title">FILECOIN</div>-->
                <!--<nav class="links">-->
                    <!--<ul>-->
                        <!--<li><a href="">About</a></li>-->
                        <!--<li><a href="">Paper</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        </div>
        <!--<div class="icons-social">-->
            <!--<a href="#" class="btn-soc-network link-tw"><i class="fa fa-twitter"></i></a>-->
            <!--<a href="#" class="btn-soc-network link-google-plus"><i class="fa fa-google-plus"></i></a>-->
            <!--<a href="#" class="btn-soc-network link-fb"><i class="fa fa-facebook-official"></i></a>-->
            <!--<a href="#" class="btn-soc-network link-youtube"><i class="fa fa-youtube-play"></i></a>-->
        <!--</div>-->
        <div class="copyright">&copy; Protocol Labs | Except as noted, content licensed CC-BY 3.0</div>
        <img class="decoration img8" width="63" height="75" src="/img/img8.png" alt="">
    </div>
</footer>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/examples.js"></script>

</body>
</html>
