<h1 class="title section-title">Implementations In</h1>
<div class="columns is-multiline">
	{{ range .Site.Params.languages }}
		{{ $githubLink := printf "https://github.com/%s" .link }}
			<div class="column language-column">
				<div class="language-icon">
					<a href="{{$githubLink}}" target="_blank">
						<i class="icon colored {{ .icon }}-plain"></i>
					</a>
				</div>
				<h1 class="language-title"><a href="{{$githubLink}}" target="_blank">{{ .name }}</a></h1>
			</div>
	{{ end }}
</div>
