<h1 class="title section-title">Supported Languages</h1>
<div class="columns is-multiline">
	{{ range .Site.Params.languages }}
		{{ $githubLink := printf "https://github.com/%s" .link }}
		{{ $iconFile := printf "data/icons/%s" .icon }}
			<div class="column">
				<h1 class="language-title"><a href="{{$githubLink}}" target="_blank">{{ .name }}</a></h1>
				<div class="language-title">
				</div>
				<div class="language-icon">
					<a href="{{$githubLink}}" target="_blank">
						{{ readFile $iconFile | safeHTML }}
					</a>
				</div>
			</div>
	{{ end }}
</div>
