<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
{{ template "_internal/google_analytics_async.html" . }}
<link rel="shortcut icon" href="/img/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<meta name="description" content="{{ $.Param "description" }}" />
<meta name="author" content="{{ $.Param "author" }}" />
 <!-- open graph -->
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ $.Param "description" }}" />
<meta property="og:title" content="{{ $.Param "title" }}" />
<meta property="og:site_name" content="{{ $.Param "name" }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="en_US">
<meta property="og:image" content="{{ .Site.baseURL }}img/logo_small.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="146" />
<meta property="og:image:height" content="166" />
<!--Twitter Cards-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ $.Param "name" }}" />
<meta name="twitter:title" content="{{ $.Param "title" }}" />
<meta name="twitter:creator" content="{{ $.Param "author" }}" />
<meta name="twitter:description" content="{{ $.Param "description" }}" />
<meta name="twitter:domain" content="{{ $.Param "domain" }}" />
<meta name="twitter:image:src" content="{{ .Site.baseURL }}img/logo_small.png" />