{{ $impls := (slice "Go" "Rust" "JavaScript (Node)" "JavaScript (Browser)" "Nim" "C++" "Swift" "JVM" "Python" "Erlang") }}

<section id="{{ .id }}">
  <div class="table">
    <div class="title">
      <div class="wrapper">
        <div class="header">
          {{ if .title }}
            {{ .title }}
          {{ else }}
            {{ humanize .id }}
          {{ end }}
        </div>
      </div>
    </div>
    <div class="info">
      <div class="table-wrapper">
        <table>
          <tbody>
            <tr class="head-row">
              <th class="head-col"></th>
                {{ range $impl := $impls }}
                  <th>{{ $impl }}</th>
                {{ end }}
            </tr>
            {{ range $lib := .libs }}
            <tr>
              <th class="head-col">
                {{ if .url }}
                  <a href = "{{ .url }}" target="_blank">{{ .id }}</a>
                {{ else }}
                  {{ .id }}
                {{ end }}
              </th>
              {{ range $impl := $impls }}
                <td>
                  {{ with index $lib.langs $impl }}
                    <a href="{{ .url }}" target="_blank">
                      {{ partial "status-icon.html" . }}
                    </a>
                  {{ else }}
                    Missing!
                  {{ end }}
                </td>
              {{ end }}
            </tr>
            {{ end }}
            <tr class="empty">
              <th class="head-col"></th>
              {{ range $impl := $impls }}
                <td></td>
              {{end}}
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="description">
      <div><i class="icon-hexagon green"></i><span>Done</span></div>
      <div><i class="icon-hexagon yellow"></i><span>In Progress / Usable</span></div>
      <div><i class="icon-hexagon red"></i><span>Prototype / Unstable</span></div>
      <div><i class="icon-hexagon blue"></i><span>Unimplementable / Unsupported</span></div>
      <div><i class="icon-hexagon grey"></i><span>Missing</span></div>
    </div>
  </div>
</section>
