<header>
  <div class="wrap">
    <a class="logo {{ if (not (eq .URL "/")) }}static{{end}}" href="/">
      <img width="60" height="72" src="/img/logo_small.png" alt="">
      <b>lib</b>p2p
    </a>
    <a href='#' class='bars'><i class="fa fa-bars" aria-hidden="true"></i></a>
    <a href='#' class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
    <nav>
      <ul>
        <li><a href="/implementations" {{ if eq .URL "/implementations/" }}class="active"{{ end }}>Implementations</a></li>
        <li><a href="/media" {{ if eq .URL "/media/" }}class="active"{{ end }}>Media</a></li>
        <li><a href="https://github.com/libp2p/specs" target="_blank">Specs</a></li>
        <li><a href="https://docs.libp2p.io" target="_blank">Docs</a></li>
        <li><a href="/#community">Community</a></li>
        <li><a href="https://connectivity.libp2p.io" target="_blank">Connectivity</a></li>
        <li><a href="https://blog.libp2p.io" target="_blank">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
